$primary : #feba02; // Желтый
$secondary : #001d60; // Темно-синий
$third : #000; // Черный
$fourth : #fff;
$five: #0099ff; // Голубой
$six: #009f3c; // Зеленый
$seven: #ea6565; // Красный

$error : $third;
$success : $fourth;