#introTitle {
    width: auto;
    height: 20vmin;
    display: block;
    position: relative;
    margin-top: 3vh;

    img {
        @extend %imgCenter;
    }
}

#introMonument {
    width: auto;
    height: 50vmin;
    display: block;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    img {
        @extend %imgCenter;
    }
}

#introFloor {
    width: 100vw;
    height: 35vh;
    display: block;
    position: fixed;
    top: 65vh;
    left: 0;
    background-color: lighten($third, 50%);
    z-index: 9;

    img {
        @extend %imgCenter;
        object-position: top;
    }
}

#introStreet {
    width: 100vw;
    height: 21vh;
    display: block;
    position: fixed;
    top: 45vh;
    left: 0;
    //background-color: lighten($third, 40%);
    z-index: 8;

    img {
        @extend %imgCenter;
        object-position: top;
    }
}

#introBuildings {
    width: 100vw;
    height: 47vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    //background-color: lighten($third, 60%);
    z-index: 7;

    img {
        @extend %imgCenter;
        object-position: bottom;
    }
}

#introBack {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lighten($five, 30%);
    z-index: 0;

    img {
        @extend %imgCenter;
        object-position: bottom;
    }
}

// Section 2
#introHouse {
    width: 110vmin;
    height: auto;
    display: block;
    position: fixed;
    top: 91vh;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.01);
    z-index: 0;

    img {
        @extend %imgCenter;
    }
}

#introTree_1 {
    width: auto;
    height: 30vmin;
    display: block;
    position: fixed;
    top: 80vh;
    left: 20%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;

    img {
        @extend %imgCenter;
    }
}

#introTree_2 {
    width: auto;
    height: 30vmin;
    display: block;
    position: fixed;
    top: 80vh;
    left: 80%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;

    img {
        @extend %imgCenter;
    }
}

#introTree_3 {
    width: auto;
    height: 50vmin;
    display: block;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    img {
        @extend %imgCenter;
    }
}

#introTree_4 {
    width: auto;
    height: 50vmin;
    display: block;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    img {
        @extend %imgCenter;
    }
}

